*{
    padding: 0;
    margin: 0;
    background-color:rgb(156, 169, 169);
    font-family: 'Ubuntu', sans-serif;
}

.wrapper{
    width: 100vh;
    margin: 0 auto;
}

h1{
    margin: 5vh 5vw;
}

hr{
    width: 70%
}
.mem_list{
    list-style: none;
}

.input{
    display: none;
}

.div{
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.input:checked + .label + .div{
    height: auto;
    margin: 10px;
}

.input:hover + .label + .div{
    height: auto;
    margin: 10px;
}